<ul
	class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu "
	data-keep-expanded="false" data-auto-scroll="true"
	data-slide-speed="200">
	<li class="nav-item start"><a href="javascript:;"
		class="nav-link nav-toggle"> <i class="icon-home"></i> <span
			class="title">监控方面</span>
	</a>
		<ul class="sub-menu">
			<li class="nav-item start"><a href="${ctx}/jf/backend/index"
				class="nav-link"> <span class="title">摘要</span>
			</a></li>
			
		</ul></li>

	<li class="nav-item start"><a href="javascript:;"
		class="nav-link nav-toggle"> <i class="icon-home"></i> <span
			class="title">跟踪信息</span> <!--   <span class="selected"></span>
                                <span class="arrow open"></span> -->
	</a>
		<ul class="sub-menu">
			<li class="nav-item start"><a href="${ctx}/jf/backend/accountSendTimes"
				class="nav-link"> <span class="title">邮箱请求次数</span>
			</a></li>
			
			<li class="nav-item start"><a href="${ctx}/jf/backend/receiptLog"
				class="nav-link"> <span class="title">收信任务</span>
			</a></li>
		</ul>
		</li>


</ul>